*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background-image: url(../images/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height:100vh;
}
nav{
    padding: 30px 0;
    padding-left: 50px;
    position: relative;
}
nav .container{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    background-color: rgb(255 255 255 / 15%);
    margin-left: auto;
    padding: 0 100px 0 70px;
    position: relative;
    z-index: 999;
}
nav ul::before {
    content: "";
    background-color: rgba(151, 151, 151, 1);
    position: absolute;
    width: 155%;
    height: 1px;
    left: -150%;
    top: 50%;
    transform: translateY(-50%);
}
nav ul li{
    color: white;
    align-self: center;
    cursor: pointer;
}
nav ul li a{
    color: #949494;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    padding: 25px 0;
}
nav ul li a:hover,nav ul li a.active{
    color: white;
}
nav ul li a::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    transform: rotateY(90deg);
}
nav ul li a.active::before{
    transform: rotateY(0deg);
}

nav ul li a:hover::before{
    transform: rotateY(0deg);
}
nav .container div{
    display: none;
    margin: 0;
}
/* Staring Home */
.Home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Home div:first-child{
    width: 35%;
}
.Home div p,.Home div h1{
    color: white;
}
.Home div h1{
    font-size: 120px;
    font-weight: 100;
    font-family: 'Bellefair', serif;
    margin-top: 20px;
    margin-bottom: 5px;
}
.Home div:first-child p:first-of-type{
    letter-spacing: 7px;
    color: rgba(208, 214, 249, 1);
}
.Home div:first-child p:last-of-type{
    line-height: 1.5;
    color: rgba(208, 214, 249, 1);
}
.Home > div:last-child p {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-family: serif;
    color: rgba(11, 13, 23, 1);
    transition: 0.3s;
}

.Home > div:last-child p:hover {
    transform: scale(1.2);
}
/* Ending Home */


@media (min-width:320px) and (max-width:480px) {
    nav{
        padding-left: 15px;
        padding-right: 15px;
    }
    nav ul{
        background-color: rgb(5 8 25);
        box-shadow: 0px 3px 9px -2px #ffffff1a;
        width: 350px;
        height: 0;
        flex-wrap: wrap;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        gap: 0;
        padding: 0;
        transition: 0.5s;
        overflow: hidden;
    }
    nav .ul-open{
        height: 300px;
        padding: 20px 5px;
    }
    nav ul::before {
        content: "";
        background-color: rgba(151, 151, 151, 1);
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0%;
        transform: translateY(0);
    }
    nav ul li{
        width: 100%;
        padding: 5px 7px;
    }
    nav ul li a{
        padding: 15px 0;
    }
    nav ul li a::before {
        width: calc(100%-20px);
        left: 0;
    }
    nav .container div {
        display: block;
        margin-left: auto;
        
    }
    nav .container div button{
    border: 0;
    background-color: transparent;
    }
    .Home div h1{
        font-size: 90px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .Home div:first-child,.Home div:last-child {
        text-align: center;
        width: 100%;
    }
    .Home div:first-child{
        padding: 0 15px;
    }
    .Home div:last-child p{
        margin: 0 auto;
    }
}
